.name {
    display: inline-block;
    font-size: 1.4em;
    background: #a2aac4;
    color: #fff;
    border-radius: 4px;
    padding: 4px 10px;
}

.highlight {
    background: #dc143c;
}
    
.disabled {
    background: #999;
}